@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --tiffany-blue: #0abab5;
  --light-tiffany: #81D8D0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer base {
  /* Base styles for interactive elements */
  input,
  textarea,
  select,
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0.5rem;
    transition: all 0.1s ease;  /* Faster transition */
  }

  /* Remove specific input type styles */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* Remove spinner buttons for number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Hover state */
  input:hover,
  textarea:hover,
  select:hover,
  button:hover {
    border-color: var(--light-tiffany);
  }

  /* Focus state - 2px centered stroke */
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: 2px solid var(--tiffany-blue);
    outline-offset: -1px;
    border-color: transparent;
  }
}
